* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-----HEADER---------*/
.move {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

header {
  border-bottom: 2px solid #970305;
  height: 100px;
  font-family: "Teko", sans-serif;
}

.header__all {
  display: flex;
  justify-content: space-evenly;
  color: #970305;
  text-align: center;
  align-items: center;
  padding-top: 15px;
}

.header__logo {
  font-size: 22px;
  letter-spacing: 2px;
  color: #970305;
}

.nav__all ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 15px;
  font-size: 25px;
  color: #970305;
  font-weight: 800;
  margin-left: -100px;
}

.nav__all ul li {
  margin-left: 25px;
  text-decoration: none;
}

.nav__all ul li a {
  text-decoration: none;
  font-weight: 800;
  color: #f7f7f7;
}

/*-----BODY---------*/
.main__all {
  font-family: "Oswald", sans-serif;
}

.hero__all {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(imagenes/portada/portada-1.jpg);
  background-size: cover;
  color: #ffffff;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-top: 50px;
  font-size: 25px;
  padding-left: 15px;
  padding-right: 15px;
}

.hero__all h1 {
  font-family: "Sansita Swashed", cursive;
}

.hero__all p {
  padding-top: 25px;
  width: 50%;
  margin-bottom: 15px;
}

.button-2 {
  padding: 15px 50px 15px 50px;
  border-radius: 20px;
  text-decoration: none;
  background-color: #970305;
  color: #ffffff;
  margin-bottom: 15px;
}

.button {
  position: relative;
  padding: 20px 50px 20px 50px;
  color: #970305;
  font-size: 15px;
  font-weight: 900;
  cursor: pointer;
  outline: none;
  background-color: #ffffff;
  border: none;
  transition: 0.5s;
  overflow: hidden;
}

.button span {
  position: absolute;
  background-color: #970305;
  transition: 0.5s;
}

.button span:nth-child(1) {
  width: 100%;
  height: 1px;
  top: 0;
  left: -100%;
}

.button span:nth-child(2) {
  width: 100%;
  height: 1px;
  bottom: 0;
  right: -100%;
}

.button span:nth-child(3) {
  width: 1px;
  height: 100%;
  bottom: -100%;
  left: 0;
}

.button span:nth-child(4) {
  width: 1px;
  height: 100%;
  top: -100%;
  right: 0;
}

.button:hover span:nth-child(1) {
  left: 0;
}

.button:hover span:nth-child(2) {
  right: 0;
}

.button:hover span:nth-child(3) {
  bottom: 0;
}

.button:hover span:nth-child(4) {
  top: 0;
}

.img_carrito {
  width: 90px;
  cursor: pointer;
}

.carrito_vertical {
  list-style: none;
}

.carrito_horizontal {
  background-color: #fff;
  height: 450px;
  width: 260px;
  right: 0;
  margin-right: 15px;
  margin-top: 0;
  position: absolute;
  display: none;
  list-style: none;
}

.carrito_vertical:hover .carrito_horizontal {
  display: block;
}

.secfirst__all {
  display: flex;
  justify-content: space-between;
  padding-top: 150px;
  text-align: left;
}

.secfirst__text h2 {
  font-size: 35px;
  margin-bottom: 15px;
  font-family: "Sansita Swashed", cursive;
}

.secfirst__text p {
  font-size: 20px;
  font-weight: italic;
  margin-right: 15px;
  margin-bottom: 50px;
}

.secfirst__img img {
  width: 600px;
  border-radius: 20px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.sectwo__all {
  margin-top: 150px;
}

.sectwo__titulo h2, .secthree__titulo h2 {
  font-size: 35px;
  font-family: "Sansita Swashed", cursive;
}

.sectwo__titulo, .secthree__titulo {
  display: flex;
  justify-content: space-between;
}

.sectwo__titulo ul, .secthree__titulo ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  border: 1px solid #970305;
  font-size: 25px;
}

.sectwo__titulo ul li, .secthree__titulo ul li {
  margin-left: 20px;
  margin-right: 50px;
}

.sectwo__titulo a, .secthree__titulo a {
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  color: black;
}

.sectwo__titulo a:hover, .secthree__titulo a:hover {
  background-color: #970305;
  color: #fff;
  transition: 1s;
}

.sectwo__list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 50px;
}

.sectwo__artall, .sectwo__artextend {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  margin-left: 25px;
}

.sectwo__artall h3, .sectwo__artextend h3 {
  font-size: 25px;
  margin-bottom: 50px;
}

.sectwo__all p {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}

.sectwo__artall img, .sectwo__artextend img {
  width: 200px;
}

.secthree__all {
  margin-top: 150px;
  height: 100vh;
}

.secthree__Galeria {
  margin-top: 50px;
  display: grid;
  height: 600px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "imagen-1 imagen-2 imagen-2" "imagen-1 imagen-3 imagen-4" "imagen-5 imagen-5 imagen-6";
  width: 100%;
  grid-gap: 10px;
  padding-bottom: 150px;
}

.border {
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.imagen-1 {
  grid-area: imagen-1;
  background-image: url(imagenes/galeria/pizza-1.jpg);
  background-size: cover;
  background-position: center;
}

.imagen-2 {
  grid-area: imagen-2;
  background-image: url(imagenes/galeria/pizza-6.jpg);
  background-size: cover;
  background-position: center;
}

.imagen-3 {
  grid-area: imagen-3;
  background-image: url(imagenes/galeria/pizza-5.jpg);
  background-size: cover;
  background-position: center;
}

.imagen-4 {
  grid-area: imagen-4;
  background-image: url(imagenes/galeria/pizza-3.jpg);
  background-size: cover;
  background-position: center;
}

.imagen-5 {
  grid-area: imagen-5;
  background-image: url(imagenes/galeria/pizza-4.jpg);
  background-size: cover;
  background-position: center;
}

.imagen-6 {
  grid-area: imagen-6;
  background-image: url(imagenes/galeria/pizza-2.jpg);
  background-size: cover;
  background-position: center;
}

.footer__all {
  height: 200px;
  font-family: "Oswald", sans-serif;
  background-color: #970305;
}

.footer__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

.footer__flex img {
  padding-top: 15px;
}

.footer__flex h4 {
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: 15px;
  margin-bottom: 15px;
}

/*# sourceMappingURL=main.css.map */
